STACK_NAME=refurbed-invoices

SHOP=your-store.myshopify.com
SHOPIFY_TOKEN=shpat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
REFURBED_TOKEN=your-refurbed-api-token

IMAP_SERVER={mail.example.com:993/imap/ssl}INBOX
IMAP_USERNAME=invoices@example.com
IMAP_PASSWORD=your-imap-password
